<form method="post" action="{{ path('formationFront_delete', {'id': formation.id,'idemp':employer.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ formation.id) }}">
    <div style="display: inline-block;">
        <button class="btn btn-flat-danger mr-1 mb-1"><i class="feather icon-trash-2"></i></button>
     </div>
</form>
