{% extends 'baseAdmin.html.twig' %}

{% block title %}New Employer{% endblock %}

{% block body %}

    {{  include('employer_admin/_form.html.twig') }}



    <a href="{{ path('employer_admin') }}">back to list</a>
{% endblock %}
