<form method="post" action="{{ path('stage_admin_delete', {'id': stage.id}) }}" >
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ stage.id) }}">
    <button id="confirm-color" class="btn btn-outline-danger"><i class="feather icon-trash-2"></i>Delete</button>
</form>
