{% extends 'base_admin.html.twig' %}

{% block title %}Edit Stage{% endblock %}

{% block body %}
    <h1>Edit Stage</h1>

    {{ include('stage_admin/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('stage_admin_index') }}">Back to list</a>

    {{ include('stage_admin/_delete_form.html.twig') }}
{% endblock %}
