{% extends 'baseAdmin.html.twig' %}

{% block title %}Edit Emploi{% endblock %}

{% block body %}
    {{ include('emploi_admin/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('emploi_admin_index') }}">Back to list</a>

    {{ include('emploi_admin/_delete_form.html.twig') }}
{% endblock %}
