<form method="post" action="{{ path('categorie_admin_delete', {'id': categorie.id}) }}" >
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ categorie.id) }}">
    <button  id="confirm-color"  class="btn btn-outline-danger mr-1 mb-1"><i class="feather icon-trash-2"></i></button>
</form>
