
{% extends 'baseFront.html.twig' %}

{% block title %}New Tutor{% endblock %}

{% block body %}



<div class="app-content content">
    <div class="content-overlay"></div>
    <div class="header-navbar-shadow"></div>
    <div class="content-wrapper">

        <h1 align="center">Create new Tutor</h1>

        {{ include('tutor/_form.html.twig') }}

        <a href="{{ path('tutor_index') }}">back to list</a>
    </div>
    {% endblock %}

