<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<div class="container">
{% for stage in stages %}
    <!--<p id="txt">-->
    {{ stage.description}}

    <button class="play" data-popup="{{ stage.description }}">Play</button>
    <button class="cancel" data-popup="{{ stage.description }}">Cancel</button>
{% endfor %}
</div>
<script type="text/javascript">
    var btnPlay = document.querySelector('.container');
    var btnCancel = document.querySelector('.container');

    var utterance = new SpeechSynthesisUtterance();
    var voices = window.speechSynthesis.getVoices();
    utterance.voice = voices[1];
    utterance.voiceURI = 'native';
    utterance.volume = 1; // 0 to 1
    utterance.rate = 0.6; // 0.1 to 10
    utterance.pitch = 1; //0 to 2
    //utterance.text = text;
    utterance.lang = 'en-US';

    utterance.onend = () => {
        window.speechSynthesis.cancel();
    };

    btnPlay.addEventListener('click', (event) => {
        if(event.target.getAttribute('class') === 'play'){
            //alert(event.target.getAttribute('data-popup'));
            utterance.text = event.target.getAttribute('data-popup');
            window.speechSynthesis.speak(utterance);
            utterance.onstart = () => {
                console.log('Started..');
                event.preventDefault();
            };
        }
    });

    btnCancel.addEventListener('click', (event) => {
        if(event.target.getAttribute('class') === 'cancel'){
            window.speechSynthesis.cancel();
            console.log('Finished..');
        }
    });


    //var text = document.querySelector('#txt').textContent;
    /*var synth = window.speechSynthesis;
    var utterance = new SpeechSynthesisUtterance(text);*/
/*
    btnPlay.addEventListener('click', () => {
        speechSynthesis.speak(utterance1);
        utterance1.onstart = () => {
            console.log('Started..');
        };
    });
    btnPause.addEventListener('click', () => {
        speechSynthesis.pause();
        utterance1.onpause = () => {
            console.log('Pause..');
        };
    });
    btnResume.addEventListener('click', () => {
        speechSynthesis.resume();
        utterance1.onresume = () => {
            console.log('Resume..');
        };
    });*/
</script>

</body>
</html>
