{% extends 'baseAdmin.html.twig' %}

{% block title %}Edit Post{% endblock %}

{% block body %}


        <h1>Edit Post</h1>


    <div style="text-align: right;">

            {{ include('post/_form.html.twig', {'button_label': 'Update'}) }}
            <a class="btn btn-outline-primary mr-1 mb-1" href="{{ path('post_index') }}">back to list</a>
            <a  href="{{ path('post_index') }}">back to list</a>
        </div>
    </div>

{% endblock %}
