{% extends 'base.html.twig' %}

{% block title %}New Categorie{% endblock %}

{% block body %}
<section id="contact" class="contact">
    <h1>Create new Categorie</h1>

    {{ include('categorie/_form.html.twig') }}
</section>
{% endblock %}
